// navbar
.main-content header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 100%;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: black;

  ul {
    display: flex;
    flex-direction: row;

    li {
      margin: 0em 1em 0em 1em;


    }

    &.navbar-list {
      color: blue;
    }
  }

  .navbar-menu {
    position: relative;
    z-index: 101;

    ul {
      display: flex;
      flex-direction: column;
    }
  }
}
