// navbar
.main-content header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 100%;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: black;

  ul {
    display: flex;
    flex-direction: row;

    li {
      margin: 0em 1em 0em 1em;
    }

    &.navbar-list {
      color: blue;
    }
  }

  .navbar-list {
    color: blue;
    padding-right: 2em;

     li {
       font-size: 20px;
       display: flex;
       align-items: center;
       min-width: 2em;
     }
  }

  .navbar-menu {

    ul {
      align-content: center;
      display: flex;
      flex-direction: column;
      min-width: 3em;
      padding: 1em;
    }
  }

  .dropdown {

    &:hover .dropdown-content {
      display: block;
    }
  }

  .dropdown-content {
    // display: none;
    z-index: 2;
    position: absolute;

    ul {
      padding: 0px;
      width: inherit;
      position: relative;
      background-color: white;
      display: flex;
      align-items: center;
      flex-direction: column;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

      li {
        font-size: 16px;
        margin: 0.2em 1em 0.2em 1em;
      }

    }
  }
}
