// navbar
.main-content header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 100%;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: black;

  ul {
    display: flex;
    flex-direction: row;

    li {
      margin: 0em 1em 0em 1em;


    }

    &.navbar-list {
      color: blue;
    }
  }

  .navbar-menu {

    ul {
      display: flex;
      flex-direction: column;
    }
  }

  .dropdown {

    &:hover .dropdown-content {
      display: block;
    }
  }

  .dropdown-content {
    display: none;
    z-index: 2;
    position: absolute;
    right: 0;

    ul {
      position: relative;
      min-width: 100px;
      background-color: white;
      padding: 0px;
      display: flex;
      flex-direction: column;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

      li {
        margin: 0.2em 1em 0.2em 1em;
      }

    }
  }
}
