// navbar
.main-content header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 100%;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: black;

  .header-title {

    h2 {
      color: gray;
    }

  }

  ul {
    display: flex;
    flex-direction: row;

    li {
      list-style-type: none;
      margin: 0em 1em 0em 1em;

      a {
        text-decoration: none;
        color: gray;

        &:hover {
          color: black;
        }
      }
    }

    &.navbar-list {
      color: blue;
    }
  }

  .navbar-menu {
    position: relative;
    z-index: 101;

    ul {
      display: flex;
      flex-direction: column;

      li {
        list-style-type: none;
      }
    }
  }
}
