body {
  font-family: "Lucida Console", sans-serif;

  h1, h2, h3, h4, h5, h6 {
    color: gray;
  }

  a {
    text-decoration: none;
    color: gray;

    &:hover {
      color: black;
    }
  }

  li {
    list-style-type: none;
  }
}
